/* You can add global styles to this file, and also import other style files */

/* Category list css styling */
.card-cat {
    margin-bottom: 50px;
}

.btn-cat {
    margin-right: 10px;
    margin-bottom: 5px;
}

/* Individual page css styling */
.accordion-page {
    margin-top: 10px;
    margin-bottom: 10px;
}

.database-title {
    margin-left: 20px;
}